<!DOCTYPE html>
<html>

<head>
    <meta lang="pt-br">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Criptografia de César</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="../Favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/home.css">
</head>

<body>
    <div class="conteiner">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="#">Criptografia de César</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="#">Home<span
                                class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="/view/cript.html">Criptografar</a>
                        <a class="nav-item nav-link" href="/view/decript.html">Descriptografar</a>
                    </div>
                </div>
            </nav>
        </header>
        <div class="back">
            <div class="titulo">
                <p>Criptografia de César</p>
            </div>
            <div class="container">
                <div class="card rigth" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Criptografia</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Cript</h6>
                        <p class="card-text">Criptografe textos usando a Criptografia Simétrica de César. Basta que seja
                            usada uma chave de Criptografia.</p>
                        <a href="./cript.html" class="card-link">Criptografar</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Descriptografia</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Decript</h6>
                        <p class="card-text">Descriptografe textos usando o mesmo método de Criptografia. Basta que seja
                            usada a mesma chave de Criptografia.</p>
                        <a href="./decript.html" class="card-link">Descriptografar</a>
                    </div>
                </div>
                <div class="card left" style="width: 37.5rem;">
                    <div class="card-body cima">
                        <h5 class="card-title cima">Lembrete!</h5>
                        <p class="card-text cima">Na hora de criptografar ou de descriptografar, não utilize números ou símbolos!</p>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p>&copy;Criptografia César Inc.</p>
        </footer>
</body>

</html>